<section class="page-campeonatos index-page">
    <div class="container">
        <div class="actions">

            <a class="label add" href="/campeonatos/new">
                <div class="label-inputs">
                    <button class="button primary-button" id="btn-add-campeonato">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                        </svg>
                        <span>Adicionar campeonato</span>
                    </button>
                </div>
            </a>

            <div class="label filter">
                <div class="label-inputs">
                    <input class="input" type="text" placeholder="Filtre sua pesquisa..."/>
                    <button class="button secondary-button" id="btn-filter-campeonato">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <polygon points="0,0 0,128 201.143,329.143 201.143,512 310.857,475.429 310.857,329.143 512,128 512,0 		"/>
                        </svg>
                        <span>Filtrar</span>
                    </button>
                </div>
            </div>
            
        </div>
        
        <div class="content">
            <div class="table-container">
                <table class="table" data-number-columns="2">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{#each campeonatos}}
                            <tr id="campeonato-{{ this.dataValues.id }}" data-cod="{{ this.dataValues.id }}">
                                <td>{{ this.dataValues.nome }}</td>
                                <td>
                                    <button class="table-button remove-row" data-target="#campeonato-{{ this.dataValues.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25.44" height="28.044" viewBox="0 0 25.44 28.044">
                                            <g id="Lixo" transform="translate(-2 -1)">
                                                <path d="M3,6H26.44" transform="translate(0 1.2009)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                <path d="M23.231,7.209V25.44a2.6,2.6,0,0,1-2.6,2.6H7.6A2.6,2.6,0,0,1,5,25.44V7.209m3.907,0V4.6a2.6,2.6,0,0,1,2.6-2.6H16.72a2.6,2.6,0,0,1,2.6,2.6v2.6" transform="translate(0.604)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                <line y2="8" transform="translate(12.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                <line y2="8" transform="translate(17.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                            </g>
                                        </svg>
                                    </button>
                                    <a class="table-button edit-row" href="/campeonatos/{{ this.dataValues.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28.089" height="28.089" viewBox="0 0 28.089 28.089">
                                            <g id="Editar" transform="translate(-6 -2.6)">
                                                <path d="M18.414,19.936H15V16.523L27.923,3.6l3.414,3.414Z" transform="translate(1.753)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                <path d="M28.944,10.657V26.506a2.445,2.445,0,0,1-2.438,2.438H9.438A2.445,2.445,0,0,1,7,26.506V9.438A2.445,2.445,0,0,1,9.438,7H25.53" transform="translate(0 0.745)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                            </g>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}

                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>{{#section 'scripts'}}
<script>
    function excluirCampeonato(event) {
        event.preventDefault();

        const row = $( $(this).data('target') );
        const idCampeonato = row.data('cod');

        showModalOption("Você tem certeza que deseja excluir esse campeonato?", function () {
            $.ajax({
                type: "DELETE",
                url: url.origin + `/api/campeonatos/` + idCampeonato,
                dataType: "json",
                success: function(response){
                    row.remove();
                    showModalInformation("Campeonato excluído com sucesso.");                    
                },
                error: function(res, status, error) {
                    const response = JSON.parse(res.responseText);
                    showModalInformation(response.message);
                }
            });
        });   
    }

    $('.remove-row').on('click', excluirCampeonato);    
</script>
{{/section}}