<section class="page-campeonatos show-page">
    <div class="container">
        <div class="show-container full-width">
            <form method="POST" id="formCampeonato" class="form {{ formAction }}">
                
                <div class="data">
                    <div class="label nome-do-campeonato">
                        <span class="label-title">Nome do campeonato</span>
                        <div class="label-inputs">                
                            <input class="input" type="text" name="nomeCampeonato" value="{{get campeonato 'nome'}}"/>
                        </div>
                    </div>
                </div>        

                <div class="actions">
                    {{#ifCond formAction '==' 'update'}}
                        <button type="button" class="button remove-button" id="btnExcluirCampeonato">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.243" height="16.243" viewBox="0 0 16.243 16.243">
                                <g transform="translate(-3.879 -3.756)">
                                    <line x1="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    <line x2="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                </g>
                            </svg>
                            <span>Excluir</span>
                        </button>

                        <button type="button" class="button secondary-button save-button" id="btnSalvarCampeonato">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <g transform="translate(-2 -2)">
                                    <path d="M19,21H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3H16l5,5V19A2,2,0,0,1,19,21Z" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path d="M17,21V13H7v8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    <path d="M7,3V8h8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                </g>
                            </svg>
                            <span>Salvar</span>
                        </button>
                    {{/ifCond}}

                    {{#ifCond formAction '==' 'create'}}
                        <button type="button" class="button secondary-button add-button" id="btnAdicionarCampeonato">   
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                            </svg>
                            <span>Adicionar</span>
                        </button>
                    {{/ifCond}}
                </div>
            </form>
        </div>

        {{#ifCond formAction '==' 'update'}}
            <div class="index-container">
                <div class="actions">

                    <div class="label add">
                        <div class="label-inputs">
                            <a class="button primary-button" id="btnAddEtapa" href="/campeonatos/{{ get campeonato 'id' }}/etapas/new">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                                </svg>
                                <span>Adicionar etapa</span>
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="content">
                    <div class="table-container">
                        <table class="table" data-number-columns="4">
                            <thead>
                                <tr>
                                    <th scope="col">Etapa</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Data e hora</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each campeonato.etapas}}
                                    <tr id="etapa-{{get this 'id'}}" data-cod="{{get this 'id'}}">
                                        <td><a href="/campeonatos/{{get ../campeonato 'id'}}/etapas/{{get this 'id'}}">{{get this 'numero'}}ª Etapa</a></td>
                                        <td>{{get this 'status'}}</td>
                                        <td>{{getFormatedDateTime (get this 'data')}}</td>
                                        <td>
                                            <button class="table-button remove-row" data-target="#etapa-{{get this 'id'}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25.44" height="28.044" viewBox="0 0 25.44 28.044">
                                                    <g id="Lixo" transform="translate(-2 -1)">
                                                        <path d="M3,6H26.44" transform="translate(0 1.209)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                        <path d="M23.231,7.209V25.44a2.6,2.6,0,0,1-2.6,2.6H7.6A2.6,2.6,0,0,1,5,25.44V7.209m3.907,0V4.6a2.6,2.6,0,0,1,2.6-2.6H16.72a2.6,2.6,0,0,1,2.6,2.6v2.6" transform="translate(0.604)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                        <line y2="8" transform="translate(12.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                        <line y2="8" transform="translate(17.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                    </g>
                                                </svg>
                                            </button>
                                            <a class="table-button edit-row" href="/campeonatos/{{get ../campeonato 'id'}}/etapas/{{get this 'id'}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28.089" height="28.089" viewBox="0 0 28.089 28.089">
                                                    <g id="Editar" transform="translate(-6 -2.6)">
                                                        <path d="M18.414,19.936H15V16.523L27.923,3.6l3.414,3.414Z" transform="translate(1.753)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                        <path d="M28.944,10.657V26.506a2.445,2.445,0,0,1-2.438,2.438H9.438A2.445,2.445,0,0,1,7,26.506V9.438A2.445,2.445,0,0,1,9.438,7H25.53" transform="translate(0 0.745)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/ifCond}}
    </div>
</section>

{{#section 'scripts'}}
    <script>
        let campeonatoId = {{#if (get campeonato 'id')}} {{get campeonato 'id'}} {{else}} '' {{/if}};
    </script>
    <script src="/scripts/pages/campeonatos/show.js"></script>
{{/section}}