<section class="page-etapas show-etapa">
    <div class="container">

        <form method="POST" id="formEtapa" class="form {{ formAction }}">
            <div class="data">
                <div class="label campeonato-da-etapa">
                    <div class="label-inputs">                
                        <select class="input" name="campeonatoEtapa">
                            <option value="" hidden>Selecione o campeonato</option>
                            {{#each campeonatos}}
                                <option value="{{get this 'id'}}" {{#ifCond (get this 'id') '==' (get ../etapa 'campeonatoId')}} selected {{/ifCond}}>{{get this 'nome'}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="label numero-da-etapa">
                    <div class="label-inputs">  
                        <input class="input" type="number" name="numeroEtapa" placeholder="Número da etapa" value="{{get etapa 'numero'}}"/>
                    </div>
                </div>

                <div class="label data-do-etapa">
                    <div class="label-inputs">                
                        <input class="input" type="datetime-local" name="dataEtapa" value="{{getDateTime (get etapa 'data')}}"/>
                    </div>
                </div>

                <div class="label actions">
                    <div class="label-inputs">  

                        {{#ifCond formAction '==' 'update'}}
                            <button type="button" class="button remove-button" id="btnExcluirEtapa">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.243" height="16.243" viewBox="0 0 16.243 16.243">
                                    <g transform="translate(-3.879 -3.756)">
                                        <line x1="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                        <line x2="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    </g>
                                </svg>
                                <span>Excluir</span>
                            </button>

                            <button type="button" class="button secondary-button save-button" id="btnSalvarEtapa">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <g transform="translate(-2 -2)">
                                        <path d="M19,21H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3H16l5,5V19A2,2,0,0,1,19,21Z" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                        <path d="M17,21V13H7v8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                        <path d="M7,3V8h8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                    </g>
                                </svg>
                                <span>Salvar</span>
                            </button>
                        {{/ifCond}}

                        {{#ifCond formAction '==' 'create'}}
                            <button type="button" class="button secondary-button add-button" id="btnAdicionarEtapa">   
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                                </svg>
                                <span>Adicionar</span>
                            </button>
                        {{/ifCond}}
                        
                    </div>
                </div>
            </div>
        </form>

        {{#ifCond formAction '==' 'update'}}
            <div class="content">
                
                <div class="actions-competidores">

                    {{#ifCond etapa.dataValues.status '==' 0}}
                        <div class="label modal-competidor">
                            <div class="label-inputs">
                                <button class="button primary-button" id="btnModalCompetidor" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                                    </svg>
                                    <span>Adicionar competidor</span>
                                </button>
                            </div>
                        </div>
                    {{/ifCond}}

                    {{#ifCond etapa.dataValues.status '!=' 0}}
                        <div class="label importar-backup">
                            <div class="label-inputs">
                                <button class="button secondary-button" id="btn-importar-backup">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26.386" height="17.59" viewBox="0 0 26.386 17.59">
                                        <path d="M21.274,10.64a8.237,8.237,0,0,0-15.392-2.2A6.594,6.594,0,0,0,6.6,21.59H20.889a5.481,5.481,0,0,0,.385-10.95Zm-.385,8.751H6.6a4.394,4.394,0,0,1-.484-8.762l1.176-.121.55-1.044a6.033,6.033,0,0,1,11.28,1.605l.33,1.649,1.682.121a3.28,3.28,0,0,1-.242,6.552ZM8.8,13.895h2.8v3.3h3.188v-3.3h2.8l-4.4-4.4Z" transform="translate(0 -4)" fill-rule="evenodd"/>
                                    </svg>
                                    <span>Importar backup</span>
                                </button>
                            </div>
                        </div>
                    {{/ifCond}}

                    <div class="label filter">
                        <div class="label-inputs">
                            <input class="input" type="text" placeholder="Filtre sua pesquisa..."/>
                            <button class="button secondary-button" id="btn-filter-etapa">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <polygon points="0,0 0,128 201.143,329.143 201.143,512 310.857,475.429 310.857,329.143 512,128 512,0 		"/>
                                </svg>
                                <span>Filtrar</span>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="table-competidores">
                    
                    {{#each competidores}}

                    <div class="secao-genero">
                        <div class="genero-title">
                            <span class="title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.363" height="10.145" viewBox="0 0 12.363 10.145">
                                    <path d="M7,6.82V17.18a1,1,0,0,0,1.54.84l8.14-5.18a1,1,0,0,0,0-1.69L8.54,5.98A1,1,0,0,0,7,6.82Z" transform="translate(18.181 -7) rotate(90)" fill-rule="evenodd"/>
                                </svg>
                                <h2>{{get this.genero 'nome'}}</h2>
                            </span>
                        </div>
                        <div class="genero-content">
                            
                            {{#each this.categorias}}

                            <div class="secao-categoria">
                                <div class="categoria-title">
                                    <span class="title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12.363" height="10.145" viewBox="0 0 12.363 10.145">
                                            <path d="M7,6.82V17.18a1,1,0,0,0,1.54.84l8.14-5.18a1,1,0,0,0,0-1.69L8.54,5.98A1,1,0,0,0,7,6.82Z" transform="translate(18.181 -7) rotate(90)" fill-rule="evenodd"/>
                                        </svg>
                                        <h2>{{get this.categoria 'nome'}}</h2>
                                    </span>
                                </div>
                                <div class="categoria-content">

                                    <table class="secao-competidores">
                                        <tbody>

                                            {{#each this.competidores}}

                                                <tr data-cod="competidor-{{get this 'id'}}">
                                                    <td>{{get (get this 'competidor') 'nome'}}</td>
                                                    <td>RFID: {{get this 'rfid'}}</td>
                                                    <td>PLACA: {{get this 'placa'}}</td>
                                                    <td>DCI: {{get this 'dci'}}</td>
                                                    <td>DCF: {{get this 'dcf'}}</td>
                                                    <td>DCT: {{get this 'dct'}}</td>
                                                    <td>PI: {{get this 'pi'}}</td>
                                                    <td>PF: {{get this 'pf'}}</td>
                                                    <td>PT: {{get this 'pt'}}</td>
                                                    <td>
                                                        <button class="table-button remove-row" data-target="#competidor-{{get this 'id'}}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.44" height="28.044" viewBox="0 0 25.44 28.044">
                                                                <g id="Lixo" transform="translate(-2 -1)">
                                                                    <path d="M3,6H26.44" transform="translate(0 1.209)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <path d="M23.231,7.209V25.44a2.6,2.6,0,0,1-2.6,2.6H7.6A2.6,2.6,0,0,1,5,25.44V7.209m3.907,0V4.6a2.6,2.6,0,0,1,2.6-2.6H16.72a2.6,2.6,0,0,1,2.6,2.6v2.6" transform="translate(0.604)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <line y2="8" transform="translate(12.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <line y2="8" transform="translate(17.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                        <button class="table-button edit-row" data-target="#competidor-{{get this 'id'}}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="28.089" height="28.089" viewBox="0 0 28.089 28.089">
                                                                <g id="Editar" transform="translate(-6 -2.6)">
                                                                    <path d="M18.414,19.936H15V16.523L27.923,3.6l3.414,3.414Z" transform="translate(1.753)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                                    <path d="M28.944,10.657V26.506a2.445,2.445,0,0,1-2.438,2.438H9.438A2.445,2.445,0,0,1,7,26.506V9.438A2.445,2.445,0,0,1,9.438,7H25.53" transform="translate(0 0.745)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>

                                            {{/each}}

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            {{/each}}

                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>   
                
            <div class="actions-etapa">
                <span class="status" id="status">{{get etapa 'status'}}</span>
                
                {{#ifCond etapa.dataValues.status '==' 0}}
                    <button type="button" class="button primary-button" id="btn-iniciar-dc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.372" height="17.514" viewBox="0 0 14.372 17.514">
                            <path d="M7,7.237V21.914A1.414,1.414,0,0,0,9.182,23.1l11.532-7.338a1.417,1.417,0,0,0,0-2.394L9.182,6.047A1.414,1.414,0,0,0,7,7.237Z" transform="translate(-7 -5.819)" fill-rule="evenodd"/>
                        </svg>
                        <span>Iniciar DC</span>
                    </button>
                {{/ifCond}}

                {{#ifCond etapa.dataValues.status '==' 1}}
                    <button type="button" class="button secondary-button" id="btn-limpar-dc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.187" height="19.35" viewBox="0 0 24.187 19.35">
                            <path d="M9.693,8.192l3.278,4.126s-.627,3.868-2.894,5.673S0,19.281,0,19.281s.144-.875.416-2.095l3.576-4.239a.227.227,0,0,0-.251-.359l-2.283.835A8.592,8.592,0,0,1,3.521,9.739C5.788,7.934,9.693,8.192,9.693,8.192Zm14.363-7.02L23.305.228a.6.6,0,0,0-.847-.1L13.673,6.851l-1.29-1.624a.416.416,0,0,0-.7.084l-.957,2.062L14,11.5l2.222-.471a.416.416,0,0,0,.24-.665L15.174,8.74,23.96,2.021a.6.6,0,0,0,.1-.848Z" transform="translate(0 0)" fill="#94e182"/>
                        </svg>
                        <span>Limpar DC</span>
                    </button>

                    <button type="button" class="button primary-button" id="btn-iniciar-prova">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.372" height="17.514" viewBox="0 0 14.372 17.514">
                            <path d="M7,7.237V21.914A1.414,1.414,0,0,0,9.182,23.1l11.532-7.338a1.417,1.417,0,0,0,0-2.394L9.182,6.047A1.414,1.414,0,0,0,7,7.237Z" transform="translate(-7 -5.819)" fill-rule="evenodd"/>
                        </svg>
                        <span>Iniciar Prova</span>
                    </button>
                {{/ifCond}}

                {{#ifCond etapa.dataValues.status '==' 2}}
                    <button type="button" class="button secondary-button" id="btn-limpar-prova">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.187" height="19.35" viewBox="0 0 24.187 19.35">
                            <path d="M9.693,8.192l3.278,4.126s-.627,3.868-2.894,5.673S0,19.281,0,19.281s.144-.875.416-2.095l3.576-4.239a.227.227,0,0,0-.251-.359l-2.283.835A8.592,8.592,0,0,1,3.521,9.739C5.788,7.934,9.693,8.192,9.693,8.192Zm14.363-7.02L23.305.228a.6.6,0,0,0-.847-.1L13.673,6.851l-1.29-1.624a.416.416,0,0,0-.7.084l-.957,2.062L14,11.5l2.222-.471a.416.416,0,0,0,.24-.665L15.174,8.74,23.96,2.021a.6.6,0,0,0,.1-.848Z" transform="translate(0 0)" fill="#94e182"/>
                        </svg>
                        <span>Limpar Prova</span>
                    </button>
                {{/ifCond}}
                
            </div>
        {{/ifCond}}
    </div>
</section>

{{#section 'footer'}}
<!-- MODAL COMPETIDOR -->
<div class="modal modal-competitor" id="modalCompetidor">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>

        <form class="form" id="formCompetidor">

            <div class="data">
                <div class="label cpf-do-competidor">
                    <span class="label-title">CPF do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="cpfCompetidor"/>
                        <button class="button secondary-button" id="btnBuscarCompetidor" type="button">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                <g>
                                    <path d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"/>
                                </g>
                            </svg>
                            <span>Buscar</span>
                        </button>
                    </div>
                </div>

                <div class="label nome-do-competidor">
                    <span class="label-title">Nome do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="nomeCompetidor" disabled/>
                    </div>
                </div>

                <div class="label categoria-do-competidor">
                    <span class="label-title">Categoria do competidor</span>
                    <div class="label-inputs">                
                        <select class="input" name="categoriaCompetidor" disabled>
                            <option value="" hidden>Selecione a categoria</option>
                            <optgroup class="catMasculina" label="Masculina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 1}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                            <optgroup class="catFeminina" label="Feminina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 2}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                        </select>    
                    </div>
                </div>

                <div class="label placa-do-competidor">
                    <span class="label-title">Placa do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="placaCompetidor" disabled/>
                    </div>
                </div>

                <div class="label rfid-do-competidor">
                    <span class="label-title">RFID</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="rfidCompetidor" disabled/>
                    </div>
                </div>

                <input type="hidden" name="idCompetidor"/>
            </div>

        </form>

        <div class="modal-actions">
            <button class="button secondary-button" id="btnCancelar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Cancelar</span>
            </button>
            <button class="button primary-button" id="btnAdicionarCompetidor" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                </svg>
                <span>Adicionar</span>
            </button>
        </div>
    </div>
</div>
{{/section}}

{{#section 'scripts'}}
<script>
    function adicionarEtapa(event) {
        event.preventDefault();

        $.ajax({
            type: "POST",
            url: url.origin + `/api/etapas`,
            dataType: "json",
            data: $('#formEtapa').serialize(),
            success: function(response){
                const etapaUrl = url.origin + `/etapas/${response.id}`;
                showModalInformation("Etapa criada com sucesso.", () => { window.location.href = etapaUrl }, () => { window.location.href = etapaUrl });
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });    
    }
    function salvarEtapa(event) {
        event.preventDefault();

        $.ajax({
            type: "PUT",
            url: url.origin + `/api` + url.pathname,
            dataType: "json",
            data: $('#formEtapa').serialize(),
            success: function(response){
                showModalInformation("Etapa atualizada com sucesso.");
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    function excluirEtapa(event) {
        event.preventDefault();

        showModalOption("Você tem certeza que deseja excluir essa etapa?", function () {
            $.ajax({
                type: "DELETE",
                url: url.origin + `/api` + url.pathname,
                dataType: "json",
                success: function(response){
                    const etapaUrl = url.origin + `/etapas`;
                    showModalInformation("Etapa excluída com sucesso.", () => { window.location.href = etapaUrl }, () => { window.location.href = etapaUrl });
                },
                error: function(res, status, error) {
                    const response = JSON.parse(res.responseText);
                    showModalInformation(response.message);
                }
            });
        });        
    }

    $('#btnAdicionarEtapa').on('click', adicionarEtapa);
    $('#btnSalvarEtapa').on('click', salvarEtapa);
    $('#btnExcluirEtapa').on('click', excluirEtapa);  

    function showModalCompetidor() {
        $('#modalCompetidor').addClass('show');
        $('#modalCompetidor').find('#btnCancelar').off('click').on('click', closeModal);
        $('#modalCompetidor').find('.close-modal').off('click').on('click', closeModal);
    }
    function closeModalCompetidor() {
        $('#modalCompetidor').removeClass('show');
    }
    function buscarCompetidor() {
        const cpfCompetidor = $('input[name="cpfCompetidor"]').val();

        if (!cpfCompetidor) {
            showModalInformation("Informe o CPF do competidor.");
            return;
        }

        $.ajax({
            type: "GET",
            url: url.origin + `/api/competidores/cpf/` + cpfCompetidor,
            dataType: "json",
            success: function(response){
                $('input[name="idCompetidor"]').val(response.id);
                $('input[name="nomeCompetidor"]').val(response.nome);
                $('select[name="categoriaCompetidor"]').removeAttr('disabled');
                $('input[name="placaCompetidor"]').removeAttr('disabled');
                $('input[name="rfidCompetidor"]').removeAttr('disabled');
                $('#btnAdicionarCompetidor').removeAttr('disabled');

                switch(response.generoId) {
                    case 1:
                        $('.catMasculina').removeAttr('hidden');
                        $('.catFeminina').attr('hidden', '');
                        break;
                    case 2:
                        $('.catMasculina').attr('hidden', '');
                        $('.catFeminina').removeAttr('hidden');
                        break;
                }
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    function clearCompetidorInputs(event, cpf = false) {
        if (cpf) {
            $('input[name="cpfCompetidor"]').val("");
        }

        $('input[name="idCompetidor"]').val("");
        $('input[name="nomeCompetidor"]').val("").attr("disabled", "");
        $('select[name="categoriaCompetidor"]').val("").attr("disabled", "");
        $('input[name="placaCompetidor"]').val("").attr("disabled", "");
        $('input[name="rfidCompetidor"]').val("").attr("disabled", "");
        $('#btnAdicionarCompetidor').attr("disabled", "");
    }
    function adicionarCompetidor() {
        const idCompetidor = $('input[name="idCompetidor"]').val();
        const categoriaCompetidor = $('select[name="categoriaCompetidor"]').val();
        const placaCompetidor = $('input[name="placaCompetidor"]').val();
        const rfidCompetidor = $('input[name="rfidCompetidor"]').val();
        
        if (!idCompetidor) {
            showModalInformation("Nenhum competidor selecionado.");
            return;
        }

        if (!categoriaCompetidor) {
            showModalInformation("Informe a categoria do competidor.");
            return;
        }

        if (!placaCompetidor) {
            showModalInformation("Informe a placa do competidor.");
            return;
        }

        if (!rfidCompetidor) {
            showModalInformation("Informe o RFID do competidor.");
            return;
        }

        $.ajax({
            type: "POST",
            url: url.origin + `/api` + url.pathname + `/competidores`,
            data: {
                idCompetidor: idCompetidor,
                categoriaCompetidor: categoriaCompetidor,
                placaCompetidor: placaCompetidor,
                rfidCompetidor: rfidCompetidor
            },
            dataType: "json",
            success: function(response){
                document.location.reload();
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }

    $('#btnModalCompetidor').on('click', showModalCompetidor);  
    $('#btnBuscarCompetidor').on('click', buscarCompetidor);
    $('input[name="cpfCompetidor"]').on("keyup keydown keypress click", clearCompetidorInputs);
    $('#btnAdicionarCompetidor').on('click', adicionarCompetidor);
</script>
{{/section}}