<section class="page-etapas show-etapa">
    <div class="container">

        <form method="POST" id="formEtapa" class="form {{ formAction }}">
            <div class="data">
                <div class="label campeonato-da-etapa">
                    <div class="label-inputs">                
                        <select class="input" name="campeonatoEtapa">
                            <option value="" hidden>Selecione o campeonato</option>
                            {{#each campeonatos}}
                                <option value="{{get this 'id'}}" {{#ifCond (get this 'id') '==' (get ../etapa 'campeonatoId')}} selected {{/ifCond}}>{{get this 'nome'}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="label numero-da-etapa">
                    <div class="label-inputs">  
                        <input class="input" type="number" name="numeroEtapa" placeholder="Número da etapa" value="{{get etapa 'numero'}}"/>
                    </div>
                </div>

                <div class="label data-do-etapa">
                    <div class="label-inputs">                
                        <input class="input" type="datetime-local" name="dataEtapa" value="{{getDateTime (get etapa 'data')}}"/>
                    </div>
                </div>

                <div class="label actions">
                    <div class="label-inputs">  

                        {{#ifCond formAction '==' 'update'}}
                            <button type="button" class="button remove-button" id="btnExcluirEtapa">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.243" height="16.243" viewBox="0 0 16.243 16.243">
                                    <g transform="translate(-3.879 -3.756)">
                                        <line x1="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                        <line x2="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    </g>
                                </svg>
                                <span>Excluir</span>
                            </button>

                            <button type="button" class="button secondary-button save-button" id="btnSalvarEtapa">
                                <svg xmlns="http://www.w3.org/2000/svg" width="438.528" height="438.534" viewBox="0 0 438.528 438.534">
                                    <path d="M432.823,121.049q-5.709-13.7-13.709-21.695L339.173,19.412q-7.988-7.987-21.7-13.7T292.357,0H27.409A26.433,26.433,0,0,0,7.995,7.993,26.421,26.421,0,0,0,0,27.407V411.126a26.426,26.426,0,0,0,7.992,19.417,26.45,26.45,0,0,0,19.414,7.991H411.127a27.277,27.277,0,0,0,27.4-27.408V146.178Q438.531,134.754,432.823,121.049Zm-250.1-75.372a9.259,9.259,0,0,1,9.137-9.131h54.819a9.264,9.264,0,0,1,9.134,9.131v91.362a9.264,9.264,0,0,1-9.134,9.135H191.862a9.259,9.259,0,0,1-9.137-9.135V45.677ZM328.906,401.991H109.633V292.355H328.906Zm73.094,0H365.441V283.218a27.289,27.289,0,0,0-27.4-27.411H100.5a27.291,27.291,0,0,0-27.409,27.411V401.991H36.544V36.542H73.088V155.313A27.289,27.289,0,0,0,100.5,182.72H264.953a27.292,27.292,0,0,0,27.4-27.407V36.542q4.281,0,11.136,2.853T313.2,45.1l80.232,80.23q2.853,2.854,5.708,9.851T402,146.178V401.991Z" transform="translate(-0.003 0)"/>
                                </svg>
                                <span>Salvar</span>
                            </button>
                        {{/ifCond}}

                        {{#ifCond formAction '==' 'create'}}
                            <button type="button" class="button secondary-button add-button" id="btnAdicionarEtapa">   
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                                </svg>
                                <span>Adicionar</span>
                            </button>
                        {{/ifCond}}
                        
                    </div>
                </div>
            </div>
        </form>

        {{#ifCond formAction '==' 'update'}}
            <div class="content">
                
                <div class="actions-competidores">

                    {{#ifCond etapa.dataValues.status '==' 0}}
                        <div class="label modal-competidor">
                            <div class="label-inputs">
                                <button class="button primary-button" id="btnModalCompetidor" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                                    </svg>
                                    <span>Adicionar competidor</span>
                                </button>
                            </div>
                        </div>
                    {{/ifCond}}

                    {{#ifCond etapa.dataValues.status '!=' 0}}
                        <div class="label importar-backup">
                            <div class="label-inputs">
                                <button class="button secondary-button" id="btn-importar-backup">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26.386" height="17.59" viewBox="0 0 26.386 17.59">
                                        <path d="M21.274,10.64a8.237,8.237,0,0,0-15.392-2.2A6.594,6.594,0,0,0,6.6,21.59H20.889a5.481,5.481,0,0,0,.385-10.95Zm-.385,8.751H6.6a4.394,4.394,0,0,1-.484-8.762l1.176-.121.55-1.044a6.033,6.033,0,0,1,11.28,1.605l.33,1.649,1.682.121a3.28,3.28,0,0,1-.242,6.552ZM8.8,13.895h2.8v3.3h3.188v-3.3h2.8l-4.4-4.4Z" transform="translate(0 -4)" fill-rule="evenodd"/>
                                    </svg>
                                    <span>Importar backup</span>
                                </button>
                            </div>
                        </div>
                    {{/ifCond}}
                </div>

                <div class="table-competidores">
                    
                    {{#each competidores}}

                    <div class="secao-genero">
                        <div class="genero-title">
                            <span class="title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.363" height="10.145" viewBox="0 0 12.363 10.145">
                                    <path d="M7,6.82V17.18a1,1,0,0,0,1.54.84l8.14-5.18a1,1,0,0,0,0-1.69L8.54,5.98A1,1,0,0,0,7,6.82Z" transform="translate(18.181 -7) rotate(90)" fill-rule="evenodd"/>
                                </svg>
                                <h2>{{get this.genero 'nome'}}</h2>
                            </span>
                        </div>
                        <div class="genero-content">
                            
                            {{#each this.categorias}}

                            <div class="secao-categoria">
                                <div class="categoria-title">
                                    <span class="title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12.363" height="10.145" viewBox="0 0 12.363 10.145">
                                            <path d="M7,6.82V17.18a1,1,0,0,0,1.54.84l8.14-5.18a1,1,0,0,0,0-1.69L8.54,5.98A1,1,0,0,0,7,6.82Z" transform="translate(18.181 -7) rotate(90)" fill-rule="evenodd"/>
                                        </svg>
                                        <h2>{{get this.categoria 'nome'}}</h2>
                                    </span>
                                </div>
                                <div class="categoria-content">

                                    <table class="secao-competidores">
                                        <tbody>

                                            {{#each this.competidores}}

                                                <tr id="competidor-{{get this 'id'}}"
                                                    data-cod="{{get this 'id'}}"
                                                    data-competidor-id="{{get (get this 'competidor') 'id'}}"
                                                    data-competidor-nome="{{get (get this 'competidor') 'nome'}}"
                                                    data-competidor-genero-id="{{get (get this 'competidor') 'generoId'}}"
                                                    data-competidor-cpf="{{get (get this 'competidor') 'cpf'}}"
                                                    data-categoria-id="{{get this 'categoriaId'}}"
                                                    data-rfid="{{get this 'rfid'}}"
                                                    data-placa="{{get this 'placa'}}"
                                                    data-dci="{{get this 'dci'}}"
                                                    data-dcf="{{get this 'dcf'}}"
                                                    data-dct="{{get this 'dct'}}"
                                                    data-pi="{{get this 'pi'}}"
                                                    data-pf="{{get this 'pf'}}"
                                                    data-pt="{{get this 'pt'}}">

                                                    <td>{{get (get this 'competidor') 'nome'}}</td>
                                                    <td>RFID: {{get this 'rfid'}}</td>
                                                    <td>PLACA: {{get this 'placa'}}</td>
                                                    <td>DCI: {{get this 'dci'}}</td>
                                                    <td>DCF: {{get this 'dcf'}}</td>
                                                    <td>DCT: {{get this 'dct'}}</td>
                                                    <td>PI: {{get this 'pi'}}</td>
                                                    <td>PF: {{get this 'pf'}}</td>
                                                    <td>PT: {{get this 'pt'}}</td>
                                                    <td>
                                                        <button class="table-button remove-row" data-target="#competidor-{{get this 'id'}}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25.44" height="28.044" viewBox="0 0 25.44 28.044">
                                                                <g id="Lixo" transform="translate(-2 -1)">
                                                                    <path d="M3,6H26.44" transform="translate(0 1.209)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <path d="M23.231,7.209V25.44a2.6,2.6,0,0,1-2.6,2.6H7.6A2.6,2.6,0,0,1,5,25.44V7.209m3.907,0V4.6a2.6,2.6,0,0,1,2.6-2.6H16.72a2.6,2.6,0,0,1,2.6,2.6v2.6" transform="translate(0.604)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <line y2="8" transform="translate(12.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                    <line y2="8" transform="translate(17.44 14)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                        <button class="table-button edit-row" data-target="#competidor-{{get this 'id'}}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="28.089" height="28.089" viewBox="0 0 28.089 28.089">
                                                                <g id="Editar" transform="translate(-6 -2.6)">
                                                                    <path d="M18.414,19.936H15V16.523L27.923,3.6l3.414,3.414Z" transform="translate(1.753)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                                    <path d="M28.944,10.657V26.506a2.445,2.445,0,0,1-2.438,2.438H9.438A2.445,2.445,0,0,1,7,26.506V9.438A2.445,2.445,0,0,1,9.438,7H25.53" transform="translate(0 0.745)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>

                                            {{/each}}

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            {{/each}}

                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>   
                
            <div class="actions-etapa">
                <span class="status" id="status">{{get etapa 'status'}}</span>
                
                {{#ifCond etapa.dataValues.status '==' 0}}
                    <button type="button" class="button primary-button" id="btnIniciarDc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.372" height="17.514" viewBox="0 0 14.372 17.514">
                            <path d="M7,7.237V21.914A1.414,1.414,0,0,0,9.182,23.1l11.532-7.338a1.417,1.417,0,0,0,0-2.394L9.182,6.047A1.414,1.414,0,0,0,7,7.237Z" transform="translate(-7 -5.819)" fill-rule="evenodd"/>
                        </svg>
                        <span>Iniciar DC</span>
                    </button>
                {{/ifCond}}

                {{#ifCond etapa.dataValues.status '==' 1}}
                    <button type="button" class="button secondary-button" id="btnLimparDc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.187" height="19.35" viewBox="0 0 24.187 19.35">
                            <path d="M9.693,8.192l3.278,4.126s-.627,3.868-2.894,5.673S0,19.281,0,19.281s.144-.875.416-2.095l3.576-4.239a.227.227,0,0,0-.251-.359l-2.283.835A8.592,8.592,0,0,1,3.521,9.739C5.788,7.934,9.693,8.192,9.693,8.192Zm14.363-7.02L23.305.228a.6.6,0,0,0-.847-.1L13.673,6.851l-1.29-1.624a.416.416,0,0,0-.7.084l-.957,2.062L14,11.5l2.222-.471a.416.416,0,0,0,.24-.665L15.174,8.74,23.96,2.021a.6.6,0,0,0,.1-.848Z" transform="translate(0 0)" fill="#94e182"/>
                        </svg>
                        <span>Limpar DC</span>
                    </button>

                    <button type="button" class="button primary-button" id="btn-iniciar-prova">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.372" height="17.514" viewBox="0 0 14.372 17.514">
                            <path d="M7,7.237V21.914A1.414,1.414,0,0,0,9.182,23.1l11.532-7.338a1.417,1.417,0,0,0,0-2.394L9.182,6.047A1.414,1.414,0,0,0,7,7.237Z" transform="translate(-7 -5.819)" fill-rule="evenodd"/>
                        </svg>
                        <span>Iniciar Prova</span>
                    </button>
                {{/ifCond}}

                {{#ifCond etapa.dataValues.status '==' 2}}
                    <button type="button" class="button secondary-button" id="btn-limpar-prova">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.187" height="19.35" viewBox="0 0 24.187 19.35">
                            <path d="M9.693,8.192l3.278,4.126s-.627,3.868-2.894,5.673S0,19.281,0,19.281s.144-.875.416-2.095l3.576-4.239a.227.227,0,0,0-.251-.359l-2.283.835A8.592,8.592,0,0,1,3.521,9.739C5.788,7.934,9.693,8.192,9.693,8.192Zm14.363-7.02L23.305.228a.6.6,0,0,0-.847-.1L13.673,6.851l-1.29-1.624a.416.416,0,0,0-.7.084l-.957,2.062L14,11.5l2.222-.471a.416.416,0,0,0,.24-.665L15.174,8.74,23.96,2.021a.6.6,0,0,0,.1-.848Z" transform="translate(0 0)" fill="#94e182"/>
                        </svg>
                        <span>Limpar Prova</span>
                    </button>
                {{/ifCond}}
                
            </div>
        {{/ifCond}}
    </div>
</section>

{{#section 'footer'}}

<!-- MODAL ADICIONAR COMPETIDOR -->
<div class="modal modal-competidor" id="modalAdicionarCompetidor">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>

        <form class="form" id="formAdicionarCompetidor">

            <div class="data">
                <div class="label cpf-do-competidor">
                    <span class="label-title">CPF do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="cpfCompetidor"/>
                        <button class="button secondary-button" id="btnBuscarCompetidor" type="button">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                <g>
                                    <path d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"/>
                                </g>
                            </svg>
                            <span>Buscar</span>
                        </button>
                    </div>
                </div>

                <div class="label nome-do-competidor">
                    <span class="label-title">Nome do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="nomeCompetidor" disabled/>
                    </div>
                </div>

                <div class="label categoria-do-competidor">
                    <span class="label-title">Categoria do competidor</span>
                    <div class="label-inputs">                
                        <select class="input" name="categoriaCompetidor" disabled>
                            <option value="" hidden>Selecione a categoria</option>
                            <optgroup class="catMasculina" label="Masculina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 1}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                            <optgroup class="catFeminina" label="Feminina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 2}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                        </select>    
                    </div>
                </div>

                <div class="label placa-do-competidor">
                    <span class="label-title">Placa do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="placaCompetidor" disabled/>
                    </div>
                </div>

                <div class="label rfid-do-competidor">
                    <span class="label-title">RFID</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="rfidCompetidor" disabled/>
                    </div>
                </div>

                <input type="hidden" name="idCompetidor"/>
            </div>

        </form>

        <div class="modal-actions">
            <button class="button secondary-button" id="btnCancelar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Cancelar</span>
            </button>
            <button class="button primary-button" id="btnAdicionarCompetidor" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M12,7a1,1,0,0,0-1,1v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2H13V8A1,1,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z" transform="translate(-2 -2)" fill-rule="evenodd"/>
                </svg>
                <span>Adicionar</span>
            </button>
        </div>
    </div>
</div>

<!-- MODAL EDITAR COMPETIDOR -->
<div class="modal modal-competidor" id="modalEditarCompetidor">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>

        <form class="form" id="formEditarCompetidor">

            <div class="data">
                <div class="label cpf-do-competidor">
                    <span class="label-title">CPF do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="cpfCompetidor" disabled/>
                    </div>
                </div>

                <div class="label nome-do-competidor">
                    <span class="label-title">Nome do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="nomeCompetidor" disabled/>
                    </div>
                </div>

                <div class="label categoria-do-competidor">
                    <span class="label-title">Categoria do competidor</span>
                    <div class="label-inputs">                
                        <select class="input" name="categoriaCompetidor">
                            <option value="" hidden>Selecione a categoria</option>
                            <optgroup class="catMasculina" label="Masculina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 1}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                            <optgroup class="catFeminina" label="Feminina">
                                {{#each categorias}}
                                    {{#ifCond (get this 'generoId') '==' 2}}
                                        <option value="{{get this 'id'}}">{{get this 'nome'}}</option>                                            
                                    {{/ifCond}}
                                {{/each}}
                            </optgroup>
                        </select>    
                    </div>
                </div>

                <div class="label placa-do-competidor">
                    <span class="label-title">Placa do competidor</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="placaCompetidor"/>
                    </div>
                </div>

                <div class="label rfid-do-competidor">
                    <span class="label-title">RFID</span>
                    <div class="label-inputs">                
                        <input class="input" type="text" name="rfidCompetidor"/>
                    </div>
                </div>

                <input type="hidden" name="idCompetidor"/>
            </div>

        </form>

        <div class="modal-actions">
            <button class="button secondary-button" id="btnCancelar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Cancelar</span>
            </button>
            <button class="button primary-button" id="btnEditarCompetidor">
                <svg xmlns="http://www.w3.org/2000/svg" width="438.528" height="438.534" viewBox="0 0 438.528 438.534">
                    <path d="M432.823,121.049q-5.709-13.7-13.709-21.695L339.173,19.412q-7.988-7.987-21.7-13.7T292.357,0H27.409A26.433,26.433,0,0,0,7.995,7.993,26.421,26.421,0,0,0,0,27.407V411.126a26.426,26.426,0,0,0,7.992,19.417,26.45,26.45,0,0,0,19.414,7.991H411.127a27.277,27.277,0,0,0,27.4-27.408V146.178Q438.531,134.754,432.823,121.049Zm-250.1-75.372a9.259,9.259,0,0,1,9.137-9.131h54.819a9.264,9.264,0,0,1,9.134,9.131v91.362a9.264,9.264,0,0,1-9.134,9.135H191.862a9.259,9.259,0,0,1-9.137-9.135V45.677ZM328.906,401.991H109.633V292.355H328.906Zm73.094,0H365.441V283.218a27.289,27.289,0,0,0-27.4-27.411H100.5a27.291,27.291,0,0,0-27.409,27.411V401.991H36.544V36.542H73.088V155.313A27.289,27.289,0,0,0,100.5,182.72H264.953a27.292,27.292,0,0,0,27.4-27.407V36.542q4.281,0,11.136,2.853T313.2,45.1l80.232,80.23q2.853,2.854,5.708,9.851T402,146.178V401.991Z" transform="translate(-0.003 0)"/>
                </svg>
                <span>Editar</span>
            </button>
        </div>
    </div>
</div>

<!-- MODAL DE LOG -->
<div class="modal modal-log" id="modalLog">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>

        <div class="log">
            <svg xmlns="http://www.w3.org/2000/svg" width="111.802" height="127.638" viewBox="0 0 111.802 127.638">
                <path id="Caminho_124" data-name="Caminho 124" d="M16.37,15.057V10.231H69.633V31.859H91.073V70.293h10.392V25.039L76.453.025H5.967V47.251h10.4Z" transform="translate(1.931 -0.025)"/>
                <path id="Caminho_125" data-name="Caminho 125" d="M77.55,59.874V49.045H72.5a21.636,21.636,0,0,0-2.9-6.559L72.987,39.1,66.84,32.954l-3.386,3.391a21.5,21.5,0,0,0-6.519-2.891V28.391h-10.9v5.063a21.593,21.593,0,0,0-6.658,2.971l-3.25-3.25-6.146,6.141,3.306,3.3a21.607,21.607,0,0,0-2.808,6.389h-5.06V59.9h5.06a21.726,21.726,0,0,0,2.888,6.527l-3.386,3.386,6.146,6.141,3.386-3.386a21.657,21.657,0,0,0,6.54,2.9V80.52H56.914V75.468a21.659,21.659,0,0,0,6.4-2.811l3.522,3.519,6.146-6.141-3.469-3.474a21.584,21.584,0,0,0,2.979-6.692H77.55ZM52.373,62.11a7.653,7.653,0,1,1,7.653-7.653A7.653,7.653,0,0,1,52.373,62.11Z" transform="translate(34.253 47.118)"/>
                <path id="Caminho_126" data-name="Caminho 126" d="M57.935,54.822h5.9V42.185h-5.9a25.208,25.208,0,0,0-3.381-7.653l3.953-3.95-7.169-7.171-3.95,3.956a25.294,25.294,0,0,0-7.608-3.373v-5.91H27.053v5.91a25.148,25.148,0,0,0-7.765,3.466L15.5,23.666,8.324,30.832l3.857,3.857a25.108,25.108,0,0,0-3.274,7.453H3V54.856H8.9a25.193,25.193,0,0,0,3.373,7.619L8.324,66.428l7.169,7.163,3.953-3.95a25.28,25.28,0,0,0,7.632,3.378v5.9H39.751v-5.9a25.274,25.274,0,0,0,7.475-3.277l4.11,4.107L58.5,66.686l-4.049-4.052A25.245,25.245,0,0,0,57.935,54.822ZM33.416,58.929A10.427,10.427,0,1,1,43.842,48.5,10.428,10.428,0,0,1,33.416,58.929Z" transform="translate(-3 29.988)"/>
            </svg>
            <p class="log-title">Log de registros</p>
            <ul class="log-list">

            </ul>
        </div>

        <div class="modal-actions">
            <button class="button secondary-button" id="btnCancelar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Cancelar</span>
            </button>
            <button class="button primary-button" id="btnFinalizar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20.427" viewBox="0 0 16 20.427">
                    <path d="M20.636,4.013a.661.661,0,0,0-.727,0c-2.545,1.6-4.436.582-6.545-.582-2.182-1.164-4.727-2.473-8-.509A1.01,1.01,0,0,0,5,3.649V21.613a.687.687,0,0,0,.727.727.687.687,0,0,0,.727-.727V14.267c2.4-1.309,4.145-.364,6.182.727a10.092,10.092,0,0,0,4.655,1.527A6.327,6.327,0,0,0,20.636,15.5.764.764,0,0,0,21,14.849V4.667A.764.764,0,0,0,20.636,4.013Z" transform="translate(-5 -1.913)"/>
                </svg>
                <span>Finalizar</span>
            </button>
        </div>
    </div>
</div>

{{/section}}

{{#section 'scripts'}}
<script>
    function adicionarEtapa(event) {
        event.preventDefault();

        $.ajax({
            type: "POST",
            url: url.origin + `/api/etapas`,
            dataType: "json",
            data: $('#formEtapa').serialize(),
            success: function(response){
                const etapaUrl = url.origin + `/etapas/${response.id}`;
                showModalInformation("Etapa criada com sucesso.", () => { window.location.href = etapaUrl }, () => { window.location.href = etapaUrl });
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });    
    }
    function salvarEtapa(event) {
        event.preventDefault();

        $.ajax({
            type: "PUT",
            url: url.origin + `/api` + url.pathname,
            dataType: "json",
            data: $('#formEtapa').serialize(),
            success: function(response){
                showModalInformation("Etapa atualizada com sucesso.");
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    function excluirEtapa(event) {
        event.preventDefault();

        showModalOption("Você tem certeza que deseja excluir essa etapa?", function () {
            $.ajax({
                type: "DELETE",
                url: url.origin + `/api` + url.pathname,
                dataType: "json",
                success: function(response){
                    const etapaUrl = url.origin + `/etapas`;
                    showModalInformation("Etapa excluída com sucesso.", () => { window.location.href = etapaUrl }, () => { window.location.href = etapaUrl });
                },
                error: function(res, status, error) {
                    const response = JSON.parse(res.responseText);
                    showModalInformation(response.message);
                }
            });
        });        
    }

    $('#btnAdicionarEtapa').on('click', adicionarEtapa);
    $('#btnSalvarEtapa').on('click', salvarEtapa);
    $('#btnExcluirEtapa').on('click', excluirEtapa);  

    function showModalAdicionarCompetidor() {
        $('#modalAdicionarCompetidor').addClass('show');
    }
    function closeModalAdicionarCompetidor() {
        $('#modalAdicionarCompetidor').removeClass('show');
    }
    function buscarCompetidor() {
        const cpfCompetidor = $('#modalAdicionarCompetidor').find('input[name="cpfCompetidor"]').val();

        if (!cpfCompetidor) {
            showModalInformation("Informe o CPF do competidor.");
            return;
        }

        $.ajax({
            type: "GET",
            url: url.origin + `/api/competidores/cpf/` + cpfCompetidor,
            dataType: "json",
            success: function(response){
                $('#modalAdicionarCompetidor').find('input[name="idCompetidor"]').val(response.id);
                $('#modalAdicionarCompetidor').find('input[name="nomeCompetidor"]').val(response.nome);
                $('#modalAdicionarCompetidor').find('select[name="categoriaCompetidor"]').removeAttr('disabled');
                $('#modalAdicionarCompetidor').find('input[name="placaCompetidor"]').removeAttr('disabled');
                $('#modalAdicionarCompetidor').find('input[name="rfidCompetidor"]').removeAttr('disabled');
                $('#modalAdicionarCompetidor').find('#btnAdicionarCompetidor').removeAttr('disabled');

                switch(response.generoId) {
                    case 1:
                        $('#modalAdicionarCompetidor').find('.catMasculina').removeAttr('hidden');
                        $('#modalAdicionarCompetidor').find('.catFeminina').attr('hidden', '');
                        break;
                    case 2:
                        $('#modalAdicionarCompetidor').find('.catMasculina').attr('hidden', '');
                        $('#modalAdicionarCompetidor').find('.catFeminina').removeAttr('hidden');
                        break;
                }
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    function clearCompetidorInputs(event, cpf = false) {
        if (cpf) {
            $('#modalAdicionarCompetidor').find('input[name="cpfCompetidor"]').val("");
        }

        $('#modalAdicionarCompetidor').find('input[name="idCompetidor"]').val("");
        $('#modalAdicionarCompetidor').find('input[name="nomeCompetidor"]').val("").attr("disabled", "");
        $('#modalAdicionarCompetidor').find('select[name="categoriaCompetidor"]').val("").attr("disabled", "");
        $('#modalAdicionarCompetidor').find('input[name="placaCompetidor"]').val("").attr("disabled", "");
        $('#modalAdicionarCompetidor').find('input[name="rfidCompetidor"]').val("").attr("disabled", "");
        $('#modalAdicionarCompetidor').find('#btnAdicionarCompetidor').attr("disabled", "");
    }
    function adicionarCompetidor() {
        const idCompetidor = $('#modalAdicionarCompetidor').find('input[name="idCompetidor"]').val();
        const categoriaCompetidor = $('#modalAdicionarCompetidor').find('select[name="categoriaCompetidor"]').val();
        const placaCompetidor = $('#modalAdicionarCompetidor').find('input[name="placaCompetidor"]').val();
        const rfidCompetidor = $('#modalAdicionarCompetidor').find('input[name="rfidCompetidor"]').val();
        
        if (!idCompetidor) {
            showModalInformation("Nenhum competidor selecionado.");
            return;
        }

        if (!categoriaCompetidor) {
            showModalInformation("Informe a categoria do competidor.");
            return;
        }

        if (!placaCompetidor) {
            showModalInformation("Informe a placa do competidor.");
            return;
        }

        if (!rfidCompetidor) {
            showModalInformation("Informe o RFID do competidor.");
            return;
        }

        $.ajax({
            type: "POST",
            url: url.origin + `/api` + url.pathname + `/competidores`,
            data: {
                idCompetidor: idCompetidor,
                categoriaCompetidor: categoriaCompetidor,
                placaCompetidor: placaCompetidor,
                rfidCompetidor: rfidCompetidor
            },
            dataType: "json",
            success: function(response){
                document.location.reload();
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    $('#btnModalCompetidor').on('click', showModalAdicionarCompetidor);  
    $('#btnBuscarCompetidor').on('click', buscarCompetidor);
    $('input[name="cpfCompetidor"]').on("keyup keydown keypress click", clearCompetidorInputs);
    $('#btnAdicionarCompetidor').on('click', adicionarCompetidor);

    function showModalEditarCompetidor() {
        $('#modalEditarCompetidor').addClass('show');

        const row = $( $(this).data('target') );

        const idCompetidor = row.data('competidor-id');
        const cpfCompetidor = row.data('competidor-cpf');
        const nomeCompetidor = row.data('competidor-nome');
        const generoCompetidor = row.data('competidor-genero-id');
        const idCategoria = row.data('categoria-id');
        const rfid = row.data('rfid');
        const placa = row.data('placa');

        $('#modalEditarCompetidor').find('input[name="idCompetidor"]').val(idCompetidor);
        $('#modalEditarCompetidor').find('input[name="cpfCompetidor"]').val(cpfCompetidor);
        $('#modalEditarCompetidor').find('input[name="nomeCompetidor"]').val(nomeCompetidor);
        $('#modalEditarCompetidor').find('select[name="categoriaCompetidor"]').val(idCategoria).change();
        $('#modalEditarCompetidor').find('input[name="rfidCompetidor"]').val(rfid);
        $('#modalEditarCompetidor').find('input[name="placaCompetidor"]').val(placa);
        
        switch(generoCompetidor) {
            case 1:
                $('#modalEditarCompetidor').find('.catMasculina').removeAttr('hidden');
                $('#modalEditarCompetidor').find('.catFeminina').attr('hidden', '');
                break;
            case 2:
                $('#modalEditarCompetidor').find('.catMasculina').attr('hidden', '');
                $('#modalEditarCompetidor').find('.catFeminina').removeAttr('hidden');
                break;
        }
    }
    function editarCompetidor() {
        const idCompetidor = $('#modalEditarCompetidor').find('input[name="idCompetidor"]').val();
        const categoriaCompetidor = $('#modalEditarCompetidor').find('select[name="categoriaCompetidor"]').val();
        const placaCompetidor = $('#modalEditarCompetidor').find('input[name="placaCompetidor"]').val();
        const rfidCompetidor = $('#modalEditarCompetidor').find('input[name="rfidCompetidor"]').val();
        
        if (!idCompetidor) {
            showModalInformation("Nenhum competidor selecionado.");
            return;
        }

        if (!categoriaCompetidor) {
            showModalInformation("Informe a categoria do competidor.");
            return;
        }

        if (!placaCompetidor) {
            showModalInformation("Informe a placa do competidor.");
            return;
        }

        if (!rfidCompetidor) {
            showModalInformation("Informe o RFID do competidor.");
            return;
        }

        $.ajax({
            type: "PUT",
            url: url.origin + `/api` + url.pathname + `/competidores/` + idCompetidor,
            data: {
                categoriaCompetidor: categoriaCompetidor,
                placaCompetidor: placaCompetidor,
                rfidCompetidor: rfidCompetidor
            },
            dataType: "json",
            success: function(response){
                document.location.reload();
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    $('.edit-row').on('click', showModalEditarCompetidor);
    $('#btnEditarCompetidor').on('click', editarCompetidor);

    function excluirCompetidor() {

        const row = $( $(this).data('target') );

        const idCompetidor = row.data('competidor-id');

        showModalOption("Você tem certeza que deseja remover esse competidor da etapa?", function () {
            $.ajax({
                type: "DELETE",
                url: url.origin + `/api` + url.pathname + `/competidores/` + idCompetidor,
                dataType: "json",
                success: function(response){
                    showModalInformation("Competidor removido da etapa com sucesso.", () => { document.location.reload(); }, () => { document.location.reload(); });                    
                },
                error: function(res, status, error) {
                    const response = JSON.parse(res.responseText);
                    showModalInformation(response.message);
                }
            });
        });
    }
    $('.remove-row').on('click', excluirCompetidor);  

    $('.modal-competidor').find('#btnCancelar').on('click', closeModal);
    $('.modal-competidor').find('.close-modal').on('click', closeModal);

    const serialSocket = io(window.location.origin, {
        autoConnect: false, 
        reconnection: false,
        path: '/api/serial/log/',
        query: 'etapa=' + {{get etapa 'id'}}
    });
    serialSocket.on('connect_error', (error) => {
        showModalInformation('Ocorreu um erro ao estabelecer conexão com o servidor.');
    });
    serialSocket.on('disconnect', () => {
        console.log('Cliente desconectado do socket de log.');
    });
    serialSocket.on('connect', () => {
        console.log('Cliente conectado ao socket de log.');
    });
    serialSocket.on('log', (json) => {
        const data = JSON.parse(json);

        if (!data.status) {
            return;
        }

        $('#modalLog').find('.log-list').append(
            '<li>' + '[' + data.data['time'] + '] ' + data.message + '</li>'
        );
    })
    serialSocket.on('saved', () => {
        socketDisonnect();
        showModalInformation('Salvo com sucesso!', () => { document.location.reload(); }, () => { document.location.reload(); });
    })
    function socketConnect() {
        serialSocket.connect();
    }
    function socketDisonnect() {
        serialSocket.disconnect();
    }
    function initRun() {
        clearModalLog();
        showModalLog();
        socketConnect();
    }
    function cancelRun() {
        closeModalLog();
        socketDisonnect();
        showModalInformation('Operação cancelada com sucesso.');
    }
    function finishRun() {
        closeModalLog();
        saveRunData();
    }
    function saveRunData() {
        serialSocket.emit('save');
    }
    function showModalLog() {
        $('#modalLog').addClass('show');
    }
    function closeModalLog() {
        $('#modalLog').removeClass('show');
    }
    function clearModalLog() {
        $('#modalLog').find('.log-list').html('');
    }
    function initDc() {
        showModalOption("Você tem certeza de que deseja iniciar a descida classificatória?", initRun);   
    }
    function clearDc() {
        showModalOption("Você tem certeza de que deseja limpar os dados relacionados a descida classificatória?", function() {
            $.ajax({
                type: "PUT",
                url: url.origin + `/api` + url.pathname,
                dataType: "json",
                data: {
                    status: 0
                },
                success: function(response){
                    showModalInformation("Descida classificatória limpa com sucesso.", () => { window.location.reload(); }, () => { window.location.reload(); });
                },
                error: function(res, status, error) {
                    const response = JSON.parse(res.responseText);
                    showModalInformation(response.message);
                }
            });
        });   
    }
    
    $('.modal-log').find('#btnCancelar').on('click', cancelRun);
    $('.modal-log').find('.close-modal').on('click', cancelRun);
    $('.modal-log').find('#btnFinalizar').on('click', finishRun);

    $('#btnIniciarDc').on('click', initDc);
    $('#btnLimparDc').on('click', clearDc);
</script>
{{/section}}